$max-width: 1280px;

$header-height: 80px;

$section-padding: 50px;
$section-padding-mobile: 20px;

$color-default: #353c44;
$color-grey: #7b7c7e;
$color-darkgrey: #686868;
$color-lightrey: #f4f4f4;

$color-blue: #004694;
$color-red: #e20025;

$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955);
$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000);