$list-cards-padding: 25px;

.grid {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    *[class^="grid-"] {
        position: relative;
        width: 100%;
    }
    
    .grid-30 {width: 25%;}
    .grid-30 {width: 30%;}
    .grid-33 {width: 33.33333%;}
    .grid-35 {width: 35%;}
    .grid-40 {width: 40%;}
    .grid-45 {width: 45%;}
    .grid-50 {width: 50%;}
    .grid-60 {width: 60%;}
    .grid-70 {width: 70%;}
    .grid-75 {width: 75%;}

    &.grid-content {
        *[class^="grid-"] {
            padding: 15px;
        }
    }
}