@import "base/variables";
@import "base/reset";
@import "base/mixin";
@import "base/typo";

@import "menus/header";
@import "menus/footer";

@import "elements/blocks";
@import "elements/composants";
@import "elements/lists";
@import "elements/homepage";

html, body {
    &.no-scroll {
        position: relative;
        min-height: 100%;
        max-height: 100%;
        overflow: hidden;
    }
}

.column {
    flex-direction: column;
}

@import "base/mediaqueries";